<h3><i class="fas fa-puzzle-piece left"></i>  QuizTime</h3>
<div class="section">
    {{!-- <p class="lead"> Made with love ^_^ </p> --}}
    <p class="lead"> Aman Raj </p>
    <p class="lead">A online event platform for conducting quizzes. </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In with Google
    </a>
</div>